    <!-- About Section -->
    <section id="about" class="pad8y contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map Brasil 2023!</h1>
            <p>O State of the Map é um congresso anual de usuários do OpenStreetMap e, 
              nesse ano, teremos a edição regional brasileira, o SotM Brasil 2023!
              <br><br>
              A Conferência é promovida pela Universidade Federal do Paraná e coordenada pelo Laboratório Geoespacial Livre 
              <br><br>
              O evento híbrido tem sua sede em Curitiba, capital do estado do Paraná, entre os dias 2 e 4 de outubro de 2023. 
              A Pré-conferência será realizada no dia 30 de setembro de 2023, com um dia inteiro de sessões on-line!
              <br><br>

              Estão programadas diversas atividades, como palestras, workshops, painéis e rodas de discussão, além da Exposição virtual
               <i>Amazônia no Mapa</i>, com os trabalhos da Olimpíada Brasileira de Cartografia - OBRAC 2023, que, nesta edição,
             contemplou a utilização do OpenStreetMap em sua Etapa II prática.<br><br>
              
              A Conferência conta ainda com a submissão, avaliação e publicação dos anais de resumos expandidos, 
              que foram aprovados pelos revisores e chancelados pelo Comitê Científico do evento. <br>
              Os resumos expandidos são originais e retratam experiências acadêmicas e práticas, desenvolvidas com dados da base 
              do OpenStreetMap, seus editores on-line, além de aplicativos de campo.<br><br>

              O evento é coordenado pelo capítulo YouthMappers <i>Mapeadores Livres</i> (UFPR) e está prevista, como uma das atividades em
              destaque no evento, o encontro dos capítulos YouthMappers brasileiros.<br><br>

              Visite a <i>Wiki State of the Map Brasil 2023 </i><br>
              https://wiki.openstreetmap.org/wiki/State_of_the_Map_Brasil_2023<br>

            </p>

          <h2 class="small-title uppercase"><b>Quando?</b></h2>
          <h3 class="small-title uppercase"><b>Pré-conferência</b></h3>
          <p>
              30 de setembro de 2023
          </p>

          <h3 class="small-title uppercase">Pré-Conferência</h3>

          <p>
              02 a 04 de outubro de 2023
          </p>
            
          <h2 class="small-title uppercase"><b>Onde?</b></h2>
          <p>
              Na cidade de Curitiba (Paraná, Brasil)
          </p>  
            
          <h2 class="small-title uppercase"><b>Informações de contato</b></h2>
          <p>
            <a href="venue">
              AC. Profa. Dra. Silvana Philippi Camboim<br>
              Universidade Federal do Paraná<br>
              Centro Politécnico. Laboratório Geoespacial Livre.<br>
              Av. Cel. Francisco H. dos Santos, 100. <br>
              Jardim das Américas, Curitiba, Paraná. Brasil.<br>
              CEP: 81530-990.
          </p>
          <h3 class="small-title uppercase"><b>E-mails para contato:</b></h3>
          <p>

            E-mail da organização do evento:<br>
            sotmbr2023@gmail.com<br><br>

            E-mail do capítulo YouthMappers Mapeadores Livres (UFPR):<br>
            mapeadoreslivresufpr@gmail.com<br>

          </p>
         <h3 class="small-title uppercase">Comitê Organizador</h3>
          <p>
          <ul><li><i>Kauê de Moraes Vestena - Presidente</i></li>
              <li><p><i>Alícia Campos</i></li>
	            <li><p><i>Elias Naim</i></li>
	            <li><p><i>Everton Bortolini</i></li>
	            <li><p><i>Gustavo Raldi Storck</i></li>
	            <li><p><i>Nathan Damas</i></li>
	            <li><p><i>Raphael de Assis</i></li>
	            <li><p><i>Raquel Dezidério Souto</i></li>
              <li><p><i>Silvana Philippi Camboim</i></li>
          </ul>
          </p>      
         <h3 class="small-title uppercase">Comitê Organizador</h3>
          <p>
          <ul>
              <li><i>Silvana Philippi Camboim - Presidenta</i></li>
	            <li><i>Adriana Machado</i></li>
	            <li><i>Andre Mendonça</i></li>
	            <li><i>Angélica Di Maio</i></li>
	            <li><i>Daniel Andrade</i></li>
	            <li><i>Elias Naim</i></li>
	            <li><i>Everton Bortolini</i></li>
	            <li><i>Gustavo Sousa</i></li>
	            <li><i>Ivanildo Barbosa</i></li>
	            <li><i>João Bravo</i></li>
	            <li><i>Kauê Vestena</i></li>
	            <li><i>Leonardo Moreira</i></li>
	            <li><i>Leonardo Scharth</i></li>
	            <li><i>Luciene Delazari</i></li>
	            <li><i>Manoel do Couto Fernandes</i></li>
	            <li><i>Marcio Schmidt</i></li>
	            <li><i>Patricia Brito</i></li>
	            <li><i>Paulo Menezes</i></li>
	            <li><i>Péricles Picanço</i></li>
	            <li><i>Raquel Dezidério Souto</i></li>
	            <li><i>Regia Estevam</i></li>
	            <li><i>Rodrigo Freire</i></li>
	            <li><i>Vivian Fernandes</i></li>
          </ul>
          </p>   
            
            

            <!-- <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2022 the State of the Map conference will be a three day hybrid conference taking place in Florence, Italy and online. Please consider signing up for updates via our <a href="https://2022.stateofthemap.org#newsletter">newsletter</a>, join our <a href="https://t.me/sotm2018">telegram group chat</a> and follow us on <a href="https://twitter.com/sotm">Twitter</a>.</p>
            <p>The conference will take place before the <a href="https://2022.foss4g.org">FOSS4G 2022 conference</a>, which is also in Firenze on August 22 to 28, 2022. The local team is committed to providing participants with a safe conference environment in accordance with the latest safety and health guidelines set by authorities.</p>
            <p>Your organising team.</p>
            <p class="logo">
                <img src="img/logo/sotm_br-logo.svg" style="width:50%;">
            </p> -->


          </div>
        </div>
        <div class="col4 clearfix contain">
          

          <!-- <h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            On Saturday, August 20 at <a href="https://www.mercatocentrale.com/florence/">Mercato&nbsp;Centrale</a> (<a href="https://www.openstreetmap.org/?mlat=43.7766&mlon=11.2532#map=16/43.7766/11.2532">location</a>)
          </p>

          <h3 class="small-title uppercase">Additional Events</h3>
          <ul>
            <li>Friday, August 19: <a href="https://unsummit.hotosm.org/">HOT unSummit at SotM</a></li>
            <li>Friday, August 19 (evening): <a href="https://forms.gle/MK89amh4zG5hKFdy7">HOT unSummit Social at SotM</a></li>
            <li>Monday, August 22: <a href="https://mobilizon.it/events/5a84127d-120c-4a83-a563-5721260c862b">YouthMappers Documentary Premiere</a></li>
          </ul> -->

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="height:85px; margin-top:20px;" /></a>
          </p>
         <p>
            <a href="https://ufpr.br/"><img src="https://ufpr.br/wp-content/uploads/2015/11/ufpr_1000.jpg" style="height:85px; margin-top:20px;" /></a>
          </p>
        </div>
      </div>
    </section>
