=== '''Comitê Científico''' ===

* ''Silvana Philippi Camboim - UFPR - Presidenta''
* ''Adriana Alexandria Machado - UFPR''
* ''André Luiz Alencar de Mendonça - UFMA''
* ''Angélica Carvalho Di Maio - UFF''
* ''Daniel Andrade - IME''
* ''Elias Nasr Naim Elias - UERJ''
*''Gustavo Mota de Sousa - UFRRJ''
* ''Ivanildo Barbosa - IME''
* ''João Vitor Meza Bravo - UFU''
* ''Leonardo Assumpção Moreira - UFPR''
* ''Leonardo Scharth Loureiro Silva - IBGE, UFF''
* ''Luciene Stamato Delazari - UFPR''
* ''Manoel do Couto Fernandes - UFRJ''
* ''Marcela Zeballos - TTU/YouthMappers''
* ''Marcio Augusto Reolon Schmidt - UFU''
* ''Marta Foeppel Ribeiro - UERJ''
* ''Milena Marilia Nogueira de Andrade - UFRA''
* ''Patricia Lustosa Brito - UFBA''
* ''Paulo Marcio Leal de Menezes - UFRJ''
* ''Péricles Luiz Picanço Junior - UFPI''
* ''Raquel Dezidério Souto - UFRJ, IVIDES''
* ''Regia Estevam - UNEMAT''
* ''Rodrigo Freire - UnB''
* ''Silvia Elena Ventorini - UFSJ''
* ''Vivian de Oliveira Fernandes - UFBA''
