    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <!--<div class="logo">
                    <img src="img/logo/sotm_br-logo.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>-->

                <div class="attending">
                  <img style="vertical-align: middle; width: 250px;" src="img/logo/logo-preto-pequeno.png"> 
                  <h1 style="text-align:center">State of the Map Brasil 2023<br></h1>

                  <p><h2 style="text-align:center"><a href="https://forms.gle/VZqRRtp4wRHmxz756" target="_blank">Inscrições Abertas!<br>preencha o formulário<br>para confirmar sua inscrição!!<br><br>inscrições realizadas antes do dia 17<br>concorrerão a brindes!!</a></h2></p>
                  <p><h2 style="text-align:center"><a href="https://docs.google.com/presentation/d/1ukBIGUDsGS55Uey67q9KEuJMXetBhl4t/edit?usp=sharing&ouid=114504818705962648381&rtpof=true&sd=true" target="_blank">Download do modelo de pôster!</a></h2></p><br>
                  <p><h3 style="text-align:center">Para outras Informações role abaixo!</h3></p>
                  
                  <!--<h1>Attending State of the Map 2023</h1>-->
                  <!--<p>Attending in person in Florence? You can here find more information about the <a href="/Local">Local</a>, the <a href="/events">social event</a> and the <a href="/Programação">Programação</a>.</p>-->
                  <!--<p>Attending remotely? Head over to the <a href="https://sotm2022.Localless.events/">online conference platform</a> if you bought the Localless ticket.</p>-->
                  <!--<p>Or watch the free live <a href="/stream">stream</a> here on the website.</p>-->
                 <!-- <h2>What's more?</h2>-->
                 <!-- <p>
                    <ul>
                      <li>🎓 Proceedings of Academic Track are <a href="https://zenodo.org/record/7004791">published on Zenodo</a>.</li>
                      <li>🖼️ Posters are published <a href="/posters/">on the website</a>.</li>
                      <li>🎥 Session videos are appearing on <a href="https://media.ccc.de/c/sotm2022">media.ccc.de</a> as well as on our <a href="https://www.youtube.com/watch?v=t6PmaShD0f8&list=PLQNy8KsDknCo4Hpk5_trylRC8FD2ge9ns">youtube channel</a> (editing in progress)</li>
                      <li>Follow <a href="https://twitter.com/sotm">@SotM</a> on Twitter and use the hashtag <a href="https://twitter.com/hashtag/sotm2022">#sotm2022</a>.</li>
                      <li>Connect with others in our <a href="https://t.me/sotm2018">telegram group chat</a> and share your State of the Map experience.</li>
                      <li>Read Ilya's and Gregory's <a href="https://t.me/sotm2022_live/3">State of the Map 2022 Live</a> blog which they wrote during and around the confrence.</li>
                    </ul>
                  </p> -->
                  <!--<p>Thanks to our <a href="/#sponsors">sponsors</a> for supporting SotM 2022!</p>-->
                  <!--<h2>And next year?</h2> -->
                <!--  <p style="text-align:left">
                    Your community can propose to host SotM 2023!
                    Submit your proposal by August 27, 2022 on the <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2023/Call_for_Locals">OSM wiki</a>.
                  </p> -->
              </div>
            </div>
        </div>
        <div class="credits">
          <!--Logo: Feye Andal &mdash; Background: © Petar Milošević <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>-->
        </div>
    </header>
