<section class="center page" id="newsletter">
	<div class="limiter pad8y">

<h1>Atualizações nas nossas redes sociais!!</h1>

<h2><a href="https://www.instagram.com/sotmbr2023/">Instagram</a></h2>
<h2><a href="https://www.twitter.com/sotmbr2023/">Twitter</a></h2>
<h2><a href="https://chat.whatsapp.com/CjxQVlXw1is8YEM5YgrtS6">Ou no nosso grupo público no WhatsApp</a></h2>
<h2><a href="https://t.me/OSMBrasil_Comunidade/68926">Ou no nosso tópico na comunidade OSM Brasil (Telegram)</a></h2><br>

<h1><a href="https://www.youtube.com/channel/UCSNUjoBFh9BMjE4Zn4WQMMA"><b>CANAL YOUTUBE - Evento 100% transmitido on-line</b></a></h1>

<!-- Begin MailChimp Signup Form
<div id="mc_embed_signup pad4y">
<form action="//stateofthemap.us12.list-manage.com/subscribe/post?u=35fbd52db2e057225b26d989c&amp;id=b9e7347b14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    <i class="fa fa-2x fa-fw fa-newspaper-o"></i>

<div class="mc-field-group clearfix pad2y space-top2">
	<fieldset class="clearfix input-pill col6 margin3 margin3r pill with-icon space-bottom2">
	 	 <span class="icon mail quiet"></span>
		<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email address" class="col9 required studio-signup required email">
		<input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe"  class="col3 button">
	</fieldset>
</div>

	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <!-- <div style="position: absolute; left: -5000px;"><input type="text" name="b_35fbd52db2e057225b26d989c_b9e7347b14" tabindex="-1" value=""></div>
    <div class="clear"></div>
    </div>



</form>
</div>  -->


<!--End mc_embed_signup-->

	</div>
</section>
