<section class="contain dark" id="sponsors">

	<!--<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/Sponsorship_SotM2022.pdf">sponsorship prospectus</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
		</p>
	</div>-->

		<div class="limiter pad4y clearfix">
		<h1 id="patrocinadores" class="space-bottom2 left"><a href="/2023/#patrocinadores">Patrocinadores</a></h1>

		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col4 pad2 space-bottom2 platinum" href="https://www.tomtom.com/" target="_blank">
					  <img src="https://raw.githubusercontent.com/sotm-br/2023/main/_includes/tomtom.png" />
				  </a><b><a class="col4 pad2 space-bottom2 platinum" href="https://www.tomtom.com/" target="_blank">
			  Patrocinador Platinum</a></b><br><br>
     

    <br><br>

    </div>  

   <div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 left">Parcerias</h1>
      
		<div class="clearfix space-bottom2 space-top4 gold">
      <a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Umbraosm-osm-brasil.jpg" />
			</a><b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/" target="_blank">
        União dos Mapeadores Brasileiros do OpenStreetMap - UMBRAOSM</a></b><br><br>
      
		</div><br><br>
      
		<div class="clearfix space-bottom2 space-top4 gold">
      <a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/G1022.png" width="50%"/>
			</a> <br><br>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org" target="_blank">Instituto Virtual para o Desenvolvimento Sustentável - IVIDES</a></b>
      <br><br>
		</div><br><br>
  
  	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="http://www.abecpr.org.br/" target="_blank">
				<img src="https://6eb7934feb.cbaul-cdnwnd.com/0edd7136e28e1516b3d6671659e533fc/200000248-5c6515d5ec/av.jpg"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="http://www.abecpr.org.br/" target="_blank">Associação Brasileira dos Engenheiros Cartógrafos do Paraná - ABECPR </a></b>
        <br><br>
		</div><br><br>

		<div class="clearfix space-bottom2 space-top4 gold">
			<a class="col2 pad2 space-bottom2 sponsor" href="http://www.labgeolivre.ufpr.br/mapealivre/" target="_blank">
				  <img src="https://sotm-br.github.io/2023/img/logo/mapeadores-pequeno.png" width="75%"/>        
			  </a>
		<b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.instagram.com/mapealivreufpr" target="_blank">Mapeadores Livres UFPR</a></b>
		  <br><br>
		  </div><br><br>

  	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFRJ" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Logo_YouthMappers_UFRJ.png"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFRJ" target="_blank">YouthMappers UFRJ</a></b>
        <br><br>
		</div><br><br>

   	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/YouthMappers_UFV.png/240px-YouthMappers_UFV.png"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_UFV" target="_blank">YouthMappers UFV</a></b>
        <br><br>
		</div><br><br>

     	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_at_UFBA" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/YouthMappers_at_UFBA.jpg"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="https://wiki.openstreetmap.org/wiki/YouthMappers_at_UFBA" target="_blank">YouthMappers at UFBA</a></b>
        <br><br>
		</div><br><br>

     	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="" target="_blank">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/YouthMappers_UFPI.jpg/100px-YouthMappers_UFPI.jpg"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="" target="_blank">YouthMappers UFPI</a></b>
        <br><br>
		</div><br><br>

		<div class="clearfix space-bottom2 space-top4 gold">
			<a class="col2 pad2 space-bottom2 sponsor" href="" target="_blank">
				  <img src="https://cienciasgeodesicas.ufpr.br/wp-content/uploads/2021/03/PPGCG-assinatura-vertical-colorida-1-priorit%C3%A1ria.png"/>        
			  </a>
		<b><a class="col2 pad2 space-bottom2 sponsor" href="" target="_blank">PPGCG-UFPR</a></b>
		  <br><br>
		  </div><br><br>



</div>
 


</section>

