<section class="contain dark" id="sponsors">

	<!--<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/Sponsorship_SotM2022.pdf">sponsorship prospectus</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
		</p>
	</div>-->

		<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Patrocinadores</h1>
     
		<h1 class="clearfix small-title sponsors platinum"><a href="mailto:sotmbr2023@gmail.com">
      Quer ser nosso patrocinador? Entre em contato!</a></h1>
    <br><br>

    </div>  
  
		<h1 class="space-bottom2 center">Parcerias</h1>
      
		<div class="center sponsor clearfix space-bottom2 space-top4 gold">
      <a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org" target="_blank">
				<imgsrc="https://upload.wikimedia.org/wikipedia/commons/8/8b/Umbraosm.png" />
			</a><b><a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/" target="_blank">
        União dos Mapeadores Brasileiros do OpenStreetMap - UMBRAOSM</a></b>
      
		</div>
      
		<div class="center sponsor clearfix space-bottom2 space-top4 gold">
      <a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org" target="_blank">
				<imgsrc="https://upload.wikimedia.org/wikipedia/commons/c/c9/G1022.png" />
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org" target="_blank">Instituto Virtual para o Desenvolvimento Sustentável - IVIDES</a></b>
      
		</div>
  
  	<div class="center sponsor clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="http://olimpiadadecartografia.uff.br/obrac-2023/" target="_blank">
				<imgsrc="https://upload.wikimedia.org/wikipedia/commons/3/3c/Obrac2.png"/>        
			</a>
      <b><a class="col2 pad2 space-bottom2 sponsor" href="http://olimpiadadecartografia.uff.br/obrac-2023/" target="_blank">Olimpíada Brasileira de Cartografia - OBRAC</a></b>
        
		</div>

	</div>

</section>

