ht<section class="contain dark" id="sponsors">

	<!--<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/Sponsorship_SotM2022.pdf">sponsorship prospectus</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
		</p>
	</div>-->

	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Patrocinadores</h1>
		<!--<p class="space-bottom2 center" id="sponsoring-booths">Meet our gold and silver sponsors in their <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2020/self-organized_sessions#Sponsor_Booths">Virtual Sponsor Booths</a> during the conference!</p>-->

		<!--<h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>-->

		<h3 class="clearfix small-title sponsors platinum"><a href="mailto:sotmbr2023@gmail.com"><p>
      <center>Quer ser nosso patrocinador? Entre em contato!</center></p></a></h3>
    <br><br>
		<h3 class="clearfix small-title sponsors platinum">Parcerias</h3>

    <div class="clearfix space-bottom2 space-top4 gold">
			<a class="col2 pad2 space-bottom2 sponsor" href="https://www.umbraosm.com.br/">
				<img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Umbraosm.png" />
			</a>
       <br><b>União dos Mapeadores Brasileiros do OpenStreetMap - UMBRAOSM</b><br>
        
		</div>
		<div class="clearfix space-bottom2 space-top4 gold">
      <a class="col2 pad2 space-bottom2 sponsor" href="https://ivides.org">
				<img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/G1022.png" />
			</a><br><b>Instituto Virtual para o Desenvolvimento Sustentável - IVIDES</b><br>
      
		</div>
  	<div class="clearfix space-bottom2 space-top4 gold">
		  <a class="col2 pad2 space-bottom2 sponsor" href="http://olimpiadadecartografia.uff.br/obrac-2023/">
				<img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Obrac2.png"/>        
			</a><br><b>Olimpíada Brasileira de Cartografia - OBRAC</b><br>
        
		</div>

	</div>

</section>

