---
layout: default
title: Programação
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
---

<style>
    iframe {
        width:1000px;
        height: 700px;
        padding-left: 2%;
        padding-top: 5%;
    }
</style>

<h1>Programação</h1>

<!-- <a href="https://sotm-br.github.io/2023/programacao_preliminar.html">Confira aqui a programação preliminar!!</a> -->

<iframe allowfullscreen="true" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQrbXr_Njk555E4EVArc9rFuSvEA2ByDut5wTKbcaLQulyR32cmdyWcwSbIEtYf1S4SaQ_v-rkcPez/pubhtml?gid=2020432516&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

<br>

<h3><a href="https://sotm-br.github.io/2023/programacao_preliminar.html">Confira aqui a programação detalhada!!</a> </h3>


<!-- {% include schedule/_general.html %} -->


<!--{% include _timezoneswitcher.html %}-->
