---
layout: default
title: Programação
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
---

<style>

    iframe {
        width:1000px;
        height: 720px;
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    h1{
        padding-top: 5%;
        text-align: center;
    }

    .name {
        display: none;
        visibility: hidden;
        font-size: 0px;
    }

    h2 {
        padding: 1%;
        text-align: center;

    }

</style>

<h1>Programação</h1>

<!-- <a href="https://sotm-br.github.io/2023/programacao_preliminar.html">Confira aqui a programação preliminar!!</a> -->

<iframe id="gdocs_iframe" name="Programação Simplificada" allowfullscreen="true" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQrbXr_Njk555E4EVArc9rFuSvEA2ByDut5wTKbcaLQulyR32cmdyWcwSbIEtYf1S4SaQ_v-rkcPez/pubhtml?gid=2020432516&amp;single=true&amp;widget=true&amp;headers=false"></iframe>



<h2><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQrbXr_Njk555E4EVArc9rFuSvEA2ByDut5wTKbcaLQulyR32cmdyWcwSbIEtYf1S4SaQ_v-rkcPez/pubhtml?gid=1917397245&single=true">Confira aqui a programação detalhada!!</a> </h2>


<h2><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQrbXr_Njk555E4EVArc9rFuSvEA2ByDut5wTKbcaLQulyR32cmdyWcwSbIEtYf1S4SaQ_v-rkcPez/pubhtml?gid=711636586&single=true">Confira aqui os Pôsteres!</a> </h2>

<!-- {% include schedule/_general.html %} -->


<!--{% include _timezoneswitcher.html %}-->
